<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    
    <div id="app">
       
        
        <template v-if ="status==' '"> 
           {{random()}}
        <button v-for ="box,index in boxes" @click="check(box.id)" >{{box.id}}</button><br>     
           </template>
                 
      
        <template v-if ="status=='less'"> 
            {{ran}}
            <button v-for ="box,index in boxes" @click="check(box.id)" >{{box.id}}</button><br>     
            less
        </template>
       
        <template v-if ="status=='more'"> 
           {{ran}}
            <button v-for ="box,index in boxes" @click="check(box.id)" >{{box.id}}</button><br>     
            more
        </template>

        <template v-if ="status=='yes'"> 
           
            {{random()}}
            <button v-for ="box,index in boxes" @click="check(box.id)" >{{box.id}}</button><br>
       correct
        </template>
        </div>
        <script>
            var app = new Vue({
                //element
                el: "#app",
                data: {
                    boxes:[{id:0},{id:1},{id:2},{id:3},{id:4},{id:5},{id:6},{id:7},{id:8},{id:9}],
                    ran : 0,
                    status :" "
                  
                 
                },
                methods: {
                    check:function(number){
                      if(number<this.ran){
                      this.status = 'less'
                      }
                      if(number>this.ran){
                      this.status = 'more'
                      }
                      if(number==this.ran){
                      this.status = 'yes'
                    
                      }
    
                    },
    
                    random: function () {
                        random  = Math.floor(Math.random() * 10);
                      this.ran = random ;
                        return this.ran
             
                }
                  
                },
    
                computed: {
                                        
                }
    
            });
        </script>
    

</body>
</html>